body {
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: #949ca5;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
}